body{
   padding-top: 60px;
}
ul{
    margin: 0;padding: 0;
}
.start{
    margin-top: 100px;
}
.navfooter>li{
      text-align: center;
      list-style: none;
      display: inline-block;
      line-height: 50px;
      margin: 0;
      padding: 0;
      width: 30%;
  }
.media{
    margin-bottom: 20px;
}
/*********************************************������תҳ��***************************************/

.page{
    margin-bottom: 30px;
    transition: all 1s linear;
    position: absolute;
    width: 100%;
}
.page.ng-leave{
    left: 0;
}
.page.ng-leave.ng-leave-active{
    left: -100%;
}
.page.ng-enter{
    left:100%;
}
.page.ng-enter.ng-enter-active{
    left: 0;
}
.plen{
    font-size: 2em;
    position: absolute;
    top: 180px;
}
.signIn{

}